@model RevAppoint.Client.Models.AccountCreationViewModel;

<h1>Create a customer account!</h1>

@using (@Html.BeginForm("CreateAccount", "Customer", FormMethod.Post))
{
   <label for="Username">Username:</label> 
   <input type ="text" name="Username" placeholder="Username" required>
   <br>
   <label for="Password">Password:</label> 
   <input type ="text" name="Password" placeholder="Password" required>
    <br>
    <label for="FirstName">First Name:</label> 
   <input type ="text" name="FirstName" placeholder="First name" required>
    <br>
    <label for="LastName">Last Name:</label> 
   <input type ="text" name="LastName" placeholder="Last name" required>
    <br>
    <label for="maleGender">Male:</label>
    <input type="radio" name="Gender" value="Male" id ="maleGender" required>

    <label for="femalGender">Female:</label>
    <input type="radio" name="Gender" value="Female" id ="femaleGender" required>
       <label for="otherGender">Other:</label>
    <input type="radio" name="Gender" value="Other" id ="otherGender" required>
    <br>
    <label for="PhoneNumber">Phone Number:</label>
    <input type ="text" name="PhoneNumber" placeholder="Phone number" required>
    <br>
    <label for="EmailAddress">Email:</label>
    <input type ="text" name="EmailAddress" placeholder="Email Address" required>
    <br>
  <input type="submit" value="Create an Account"/>
}