@model RevAppoint.Client.Models.AccountCreationViewModel;

<h1>Create a Customer Account!</h1>
<!--
@using (@Html.BeginForm("CreateAccount", "Customer", FormMethod.Post))
{
   <label for="Username">Username:</label> 
   <input type ="text" name="Username" placeholder="Username" required>
   <br>
   <label for="Password">Password:</label> 
   <input type ="text" name="Password" placeholder="Password" required>
    <br>
    <label for="FirstName">First Name:</label> 
   <input type ="text" name="FirstName" placeholder="First name" required>
    <br>
    <label for="LastName">Last Name:</label> 
   <input type ="text" name="LastName" placeholder="Last name" required>
    <br>
    <label for="maleGender">Male:</label>
    <input type="radio" name="Gender" value="Male" id ="maleGender" required>

    <label for="femalGender">Female:</label>
    <input type="radio" name="Gender" value="Female" id ="femaleGender" required>
       <label for="otherGender">Other:</label>
    <input type="radio" name="Gender" value="Other" id ="otherGender" required>
    <br>
    <label for="PhoneNumber">Phone Number:</label>
    <input type ="text" name="PhoneNumber" placeholder="Phone number" required>
    <br>
    <label for="EmailAddress">Email:</label>
    <input type ="text" name="EmailAddress" placeholder="Email Address" required>
    <br>
  <input class = "customButton" type="submit" value="Create an Account"/>
}
-->



<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="CreateAccount" asp-controller="Customer">
          <!--  <div asp-validation-summary="ModelOnly" class="text-danger"></div> -->
            <div class="form-group">
                <label for="Username" class="control-label">Username:</label> 
               <input type ="text" name="Username" class="form-control" placeholder="Username" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="Password" class="control-label">Password:</label> 
                  <input type ="text" class="form-control" name="Password" placeholder="Password" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>

             <div class="form-group">
                <label for="FirstName" class="control-label">First name:</label> 
               <input type ="text" class="form-control" name="FirstName" class="form-control" placeholder="Dwight" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="LastName" class="control-label">Last name:</label> 
                  <input type ="text" class="form-control" name="LastName" placeholder="Schrute" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>

              <div class="form-group">
                <label for="PhoneNumber" class="control-label">Phone number:</label> 
               <input type ="text" class="form-control" name="PhoneNumber" class="form-control" placeholder="410-410-4100" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="EmailAddress" class="control-label">Email:</label> 
                  <input type ="text" class="form-control" name="EmailAddress" placeholder="dwight@gmail.com" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>


            <div class="form-group">
               
            <label for="radiobtn" class="col-sm-2 control-label">Gender:</label>
 
            <div class="col-sm-5">
 
            <div class="radio radio-danger">
               <div class="col-sm-5">
                  <div class="radio radio-danger">
                     <input type="radio" name="Gender" id="Radios1" value="Male" checked>
                     <label>
                     Male
                     </label>
                  </div>
   
               <div class="radio radio-danger">
                  <input type="radio" name="Gender" id="Radios1" value="Female">
                  <label>
                  Female
                  </label>
               </div>
               <div class="radio radio-danger disabled">
                  <input type="radio" name="Gender" id="Radios1" value="Other">
                  <label>  
                  Other
                  </label>
               </div>
            </div>
            <div class="form-group">
                <input class = "customButton" type="submit" value="Create an Account"/>
            </div>
            </div>
            </div>
        </form>
    </div>
</div>
   