@model RevAppoint.Client.Models.ProfessionalModel;

<h1>Create a Professional Account!</h1>


<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="CreateAccountProfessional" asp-controller="Customer">
          <!--  <div asp-validation-summary="ModelOnly" class="text-danger"></div> -->
            <div class="form-group">
                <label for="Username" class="control-label">Username:</label> 
               <input type ="text" name="Username" class="form-control" placeholder="Username" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="Password" class="control-label">Password:</label> 
                  <input type ="text" class="form-control" name="Password" placeholder="Password" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>

             <div class="form-group">
                <label for="FirstName" class="control-label">First name:</label> 
               <input type ="text" class="form-control" name="FirstName" class="form-control" placeholder="Dwight" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="LastName" class="control-label">Last name:</label> 
                  <input type ="text" class="form-control" name="LastName" placeholder="Schrute" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>

            

              <div class="form-group">
                <label for="PhoneNumber" class="control-label">Phone number:</label> 
               <input type ="text" class="form-control" name="PhoneNumber" class="form-control" placeholder="410-410-4100" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="EmailAddress" class="control-label">Email:</label> 
                  <input type ="text" class="form-control" name="EmailAddress" placeholder="dwight@gmail.com" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>

         
              <div class="form-group">
                <label for="Title" class="control-label">Title:</label> 
               <input type ="text" class="form-control" name="Title" class="form-control" placeholder="Paper salesman" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="Location" class="control-label">Location:</label> 
                  <input type ="text" class="form-control" name="Location" placeholder="Scranton" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>
            
              <div class="form-group">
                <label for="AppointmentLengthInHours" class="control-label">Appointment Length In Hours:</label> 
               <input type ="text" class="form-control" name="AppointmentLengthInHours" class="form-control" placeholder="2" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="HourlyRate" class="control-label">Hourly rate:</label> 
                  <input type ="text" class="form-control" name="HourlyRate" placeholder="18" required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>

              
              <div class="form-group">
                <label for="Language" class="control-label">Language:</label> 
               <input type ="text" class="form-control" name="Language" class="form-control" placeholder="German" required>
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                   <label for="Bio" class="control-label">Bio:</label> 
                  <input type ="text" class="form-control" name="Bio" placeholder="Watch out for Jim..." required>
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>

             <div class="form-group">
               
            <label for="radiobtn" class="col-sm-2 control-label">Gender:</label>
 
            <div class="col-sm-5">
 
            <div class="radio radio-danger">
               <div class="col-sm-5">
                  <div class="radio radio-danger">
                     <input type="radio" name="Gender" id="Radios1" value="Male" checked>
                     <label>
                     Male
                     </label>
                  </div>
   
               <div class="radio radio-danger">
                  <input type="radio" name="Gender" id="Radios1" value="Female">
                  <label>
                  Female
                  </label>
               </div>
               <div class="radio radio-danger disabled">
                  <input type="radio" name="Gender" id="Radios1" value="Other">
                  <label>  
                  Other
                  </label>
               </div>
            </div>
           
            </div>
            </div>
            
            

            <div class="form-group">
                <input class = "customButton" type="submit" value="Create an Account"/>
            </div>
        </form>
    </div>
</div>
   
