@model RevAppoint.Client.Models.LoginViewModel;

@{
    ViewData["Title"] = "FormLogin";
}

<h2>Login</h2>
@if(Model.Error != ""){ 
<h2>
  @Model.Error
</h2>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="FormLogin" asp-controller="Customer">
          <!--  <div asp-validation-summary="ModelOnly" class="text-danger"></div> -->
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control" />
           <!--      <span asp-validation-for="Username" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
           <!--      <span asp-validation-for="Password" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class = "customButton" />
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Customer Account</h4>
          <p class="card-text">
            With this type of account, you can book appointments with professionals.
            
          </p>
        @using (@Html.BeginForm("AccountCreationCustomer", "Customer", FormMethod.Get))
      {
        <input type="submit" value="Customer" class = "customButton" style="float: left;"/>
      }
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create a professional account</h4>
          <p class="card-text">
            With this type of account, you can be booked for an appointment. 
          </p>
          @using (@Html.BeginForm("AccountCreationProfessional", "Customer", FormMethod.Get))
          {
            <input type="submit" value="Professional" class = "customButton" style="float: left;"/>
          }   
        </div>
      </div>  
  </div>
</div>