@model RevAppoint.Client.Models.AppointmentViewModel;

<h1>Thank you for making an appointment with @Model.ProfessionalUsername!</h1>

@using (@Html.BeginForm("SelectUser", "Customer",new {id = @Model.CustomerUsername}, FormMethod.Post))
{
  <input name = "Username" value = @Model.CustomerUsername hidden ="true">
 
  <input class = "customButton" type="submit" value="Home"/>
}
