@model RevAppoint.Client.Models.CustomerViewModel;

<p>Hello @Model.Username</p>
<p> !! Appointment Completed !!</p>
@using (@Html.BeginForm("SelectUser", "Customer", FormMethod.Post))
{
  <input name = "Username" value = @Model.Username hidden ="true">
 
  <input type="submit" value="To Create Appointment"/>
}
