@model RevAppoint.Client.Models.CustomerModel;

@using (@Html.BeginForm("DisplayProfessionals", "Customer", FormMethod.Post))
{
    <label for="cars">Choose a search parameter:</label>
    <select name="SearchParam">
    <option value="title">Title</option>
    <option value="name">Last Name</option>
    <option value="location">Location</option>
    </select>
    <input type="text" name ="ProfessionalSearchValue"> 
  <input name = "Username" value = @Model.Username hidden ="true">
  <input class = "customButton" type="submit" value="Search"/>
}
