/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
 
}
#MAIN{
  color: blue;
  color:#1F2833;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#logoMain{
width:200px;
height: 100px;
float:left;
position: relative;
}

#logoMain > img{
float:left;
color:#435AD9;
font-size: 30px;
}
.logo{
float:left;
color:#05F2C7;
text-shadow: 2px 2px#435AD9;
font-size: 30px;
}

.logo2
{
  color:#05F2C7;
text-shadow: 2px 2px#435AD9;
float:left;
font-size: 30px;
}

.customButton{



border-radius: 5px;
width: 150px;
font-size: 15px;
background-color:#1F2833;
/*color:  #C5C6C7;*/
color: #fff;
/*border-color:#05F2C7;*/
border-color:#45A29E;
margin: 15px 0px 0px 0px;

}

.customButton:hover{
  background-color:#1F2833;
  color: #45A29E;
  /*border-color:#05F2C7;*/
  border-color:#45A29E;

  color:#435AD9;
  border-color:#435AD9;
  color:#05F2C7;
  border-color:#05F2C7;
}

#fancytext {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 80px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
#fancytext2 {
  font-size: 36px;
}
.deepshd {
  color: #e0dfdc;
  letter-spacing: .1em;
}
.retroshd {
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.retroshd:hover {
    text-decoration: none;
}